label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: var(--green-highlight);
  font-size: 1rem;
  font-weight: 200;
}

input, select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border: var(--blackish) 3px solid;

  padding: 10px 15px;
  margin-bottom: 10px;

  font-size: 14px;

  background-color: transparent;
  color: var(--blackish);
}

select{
    appearance: none;
    background-image: url('../../assets/caret-down-solid.svg');
    background-repeat: no-repeat;
    background-position: 95% 0;
    
}

fieldset {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: var(--green-highlight) 2px solid;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -10px var(--green-highlight),
    5px 5px 15px 5px rgba(119, 140, 36, 0.07);
  box-shadow: 5px 5px 15px -10px var(--green-highlight),
    5px 5px 15px 5px rgba(119, 140, 36, 0.07);
}
legend {
  color: var(--green-highlight);
}
