label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--green-highlight);
  font-size: 1.2rem;
  font-weight: 200;
}

input,
select {
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border: var(--blackish) 3px solid;

  padding: 10px 15px;
  margin-bottom: 10px;

  font-size: 1, 2rem;

  background-color: transparent;
  color: var(--blackish);
}

select,
input[type="date"],
input[type="number"] {
  background-repeat: no-repeat;
  background-position: 98% 0;
}
select {
  background-image: url("../../assets/caret-down-solid.svg");
}
input[type="date"] {
    background-image: url("../../assets/calendar-days-solid.svg");

}
input[type="number"] {
 
    background-image: url("../../assets/sort-solid.svg");

}

fieldset {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border: var(--green-highlight) 2px solid;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -10px var(--green-highlight),
    5px 5px 15px 5px rgba(119, 140, 36, 0.07);
  box-shadow: 5px 5px 15px -10px var(--green-highlight),
    5px 5px 15px 5px rgba(119, 140, 36, 0.07);
}
legend {
  color: var(--green-highlight);
}
