.modal {
  width: 40%;
  height: 20%;
  background-color: var(--light-green);
  opacity: 0.95;
  position: absolute;
  left: 30%;
  border-radius: 15px;
}
.modal-hiden,
.btn-modal-hidden,
.message-modal-hidden {
  display: none;
}

.btn-modal {
  position: absolute;
  top: 0;
  right: 20px;
  width: 10%;

  /* background: var(--white); */
  border: 1px solid transparent;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 1.2rem;

  text-decoration: none;
}

.message-modal {
  padding: 3rem 0;
}
