header{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   -webkit-box-shadow: 10px 10px 15px -7px var(--green-highlight), 5px 5px 15px 5px rgba(119, 140, 36, 0.07); 
    box-shadow: 10px 10px 15px -7px var(--green-highlight), 5px 5px 15px 5px rgba(119, 140, 36, 0.07); 
  
    
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 4rem;
}
