@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

*, 
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  margin: 0;
  padding: 0;
 
  /* height: 100%; */
 

  /* Text configuration */

  --body-font: "DM sans";
  --title-font: "Montserrat";

  --body-font-weight: 400;
  --link-font-weight: 500;

  --body-font-size: 1.25rem;

  --body-line-height: 1.5rem;
  --title-line-height: 1.75;
  --header-line-height: 5.375;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  color-scheme: light dark;

  --red-highlight: #d2483d;
  --red-hover: #e37c41;
  --green-highlight: #778c24;
  --green-hover: #97b227;
  --light-green: #e0f5b1;
  --blackish: #242424;
  --white: #ffffff;

  --select-focus: var(--green-highlight);
  --select-arrow: var(--green-highlight);
}

#root {

  margin: auto;
  text-align: center;
 
}

body {
  
  background-color: var(--white);
  color: var(--blackish);
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  margin: 0 auto;
 
}

a {
  font-weight: var(--link-font-weight);
  color: var(--green-highlight);
  transition: text-decoration 0.5s;
}
a:hover {
  color: var(--green-hover);
  text-decoration: underline var(--green-hover);
  text-decoration-thickness: 0.1rem;
}

h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  position: absolute;
  left: 10rem;
  font-family: var(--title-font);
  color: var(--green-highlight);
}

h2 {
  font-size: 2em;
  line-height: var(--title-line-height);
  font-family: var(--title-font);
  color: var(--blackish);
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  margin: 1rem auto;
  width: 40%;
  font-size: 1em;
  background-color: var(--red-highlight);
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--red-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 7em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* spining logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* spining logo end */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


